#!/usr/bin/env zsh

### GIT ###
alias gips='git push'
alias gipl='git pull'
alias gis='git status'
alias gim='git commit -m'
alias gima='git commit --amend'
alias gico='git checkout'
alias gicob='git checkout -b'
alias gig='git log'
alias gia='git add'
alias gipa='git add -p'
alias gidf='git diff'
alias gidfe='git diff --cached'
alias gibra='git branch'
alias gimer='git merge'
alias gitsta='git stash'
alias cdo='[ $(git rev-parse --git-dir 2>& /dev/null) ] && cd `git rev-parse --show-toplevel`  || echo "Not in working git tree"'

### SYSTEM ###
alias upmir='sudo reflector --completion-percent 100 -f 8 -p http --connection-timeout 8 -a 12  --sort delay --save /etc/pacman.d/mirrorlist'
alias getip='hostname -i'
alias cdd='cd `xdg-user-dir DOWNLOAD`'
alias cdi='cd `xdg-user-dir PICTURES`' 
alias cdm='cd `xdg-user-dir MUSIC`' 

### OTHER ###
alias tmux='tmux attach -t base || tmux new -s base'
alias flush-pdnsd-cache="sudo pdnsd-ctl empty-cache"
alias dl-music='youtube-dl -x --audio-quality 0 --audio-format ogg'
alias grep='grep --color=auto'
alias fgrep='fgrep --color=auto'
alias egrep='egrep --color=auto'
